@import "materialize";

body {
   background-image: image-url('jakob.jpg');
   background-size: cover;

}

.form {

background-color: yellow;

}

.login {
   font-size: 200px;
}

.login_h2 {
   color: white;
   padding-left: 20px;
}

.input-field {
font-size: 20px;

}
